h1{
    color: red;
}
button{
    padding: 10px;
    border: none;
    background-color: red;
    color: white;
}
p{
    font-weight: bold;
}
span{
    color: red;
}
input{
    height: 25px;
    outline: red;
}
textarea{
    height: 100px;
}
.note-div{
    back
}